/*
-------------------
Grid / Flexbox
-------------------
*/

body, html {
    height: 100vh;
}

.flex {
    display: flex;
}

.flex.v-center {
    align-items: center;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-left {
    justify-content: left;
}

.flex.h-right {
    justify-content: right;
}

.flex.h-space-between {
    justify-content: space-between;
}

/*
-------------------
Base Styles
-------------------
*/

body {
    background: #000;
    color: #a6a6a6;
    font-family: 'Anonymous Pro', monospace;
}

/*
-------------------
Controls Area
-------------------
*/

.turn-counter {
    font-size: 1.3em;
}

.controls-area {
    background: #1a1a1a;
    border-top: 2px solid #0d0d0d;
    border-bottom: 2px solid #0d0d0d;
}

.main-interface,
.player-status,
.combat-status {
    height: 30vh;
    background: #000;
    border-left: 2px solid #0d0d0d;
    border-right: 2px solid #0d0d0d;
}

.interface {
    margin: 10px 0;
}

.main-interface button {
    margin: 5px;
}

.disabled-interface {
    pointer-events: none;
    opacity: 0.5
}

.status-message {
    font-size: 1.2em;
    margin: 20px;
    padding: 10px;
}

.status-normal {
    color: #40ff00;
    border: 2px solid #40ff00;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #40ff00;
    animation: fade-blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.status-warning {
    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #ff9900;
    animation: fade-blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.status-critical {
    color: #ff3300;
    border: 2px solid #ff3300;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #ff3300;
    animation: fade-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*
-------------------
Combat Area
-------------------
*/

.combat-area {
    background: url('images/space-background.png') no-repeat;
    background-size: cover;
}

.characters {
    height: 70vh;
}

.character-image {
    height: 300px;
}

.character-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.stat-display {
    padding: 10px;
    width: 200px;
}

.stat-bar {
    height: 20px;
    width: 100%;
    background: #ff3300;
}

.hull-bar {
    background: #8c8c8c;
}

.energy-bar {
    background: #e6b800;
}

.defeated {
    opacity: 0;
}

/*
-------------------
Buttons
-------------------
*/

.btn-main {
    background: #000;
    color: #a6a6a6;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
}

.btn-main:active,
.btn-main:focus {
    outline: none;
}

.btn-main:hover {
    color: #fff;
    border: 2px solid #fff;
}

.btn-disabled,
.btn-disabled:hover {
    color: #ff3300;
    border: 2px solid #ff3300;
    box-shadow: 0px 0px 10px #ff3300;
}

.btn-equipped,
.btn-equipped:hover {
    color: #40ff00;
    border: 2px solid #40ff00;
    box-shadow: 0px 0px 10px #40ff00;
}

/*
-------------------
Overlay
-------------------
*/

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background: #000;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.defeat-screen {
    background: #ff3300;
    opacity: 0.5;
}

.victory-screen {
    background: #40ff00;
    opacity: 0.5;
}

.hidden {
    display: none;
}

/*
-------------------
Animations
-------------------
*/

@keyframes fade-blink {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
