/*
-------------------
Grid / Flexbox
-------------------
*/

body, html {
    height: 100vh;
}

.flex {
    display: flex;
}

.flex.v-center {
    align-items: center;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-left {
    justify-content: left;
}

.flex.h-right {
    justify-content: right;
}

.flex.h-space-between {
    justify-content: space-between;
}

/*
-------------------
Base Styles
-------------------
*/

body {
    background: #000;
    color: #a6a6a6;
}

/*
-------------------
Controls Area
-------------------
*/

.controls-area {
    background: #0d0d0d;
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
}

.main-interface,
.player-status,
.enemy-status {
    height: 25vh;
    background: #000;
    border-left: 2px solid #a6a6a6;
    border-right: 2px solid #a6a6a6;
}

.main-interface button {
    margin: 5px;
}

.disabled-interface {
    pointer-events: none;
    opacity: 0.5
}

.status-message {
    font-size: 1.2em;
    margin: 20px;
    padding: 10px;
}

.status-normal {
    color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 2px;
}

.status-warning {
    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 2px;
}

.status-critical {
    color: #ff3300;
    border: 2px solid #ff3300;
    border-radius: 2px;
}
/*
-------------------
Combat Area
-------------------
*/

.combat-area {
    background: #1a000d;
}

.characters {
    height: 75vh;
}

.stat-display {
    padding: 10px;
}

.stat-bar {
    height: 20px;
    width: 100%;
    background: #000;
}

.progress-bar {
    background: green;
}

/*
-------------------
Buttons
-------------------
*/

.btn-main {
    background: #000;
    color: #a6a6a6;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
}

.btn-main:active,
.btn-main:focus {
    outline: none;
}

.btn-disabled {
    color: #ff3300;
    border: 2px solid #ff3300;
}

.btn-equipped {
    color: #00ffff;
    border: 2px solid #00ffff;
}