/*
-------------------
Grid / Flexbox
-------------------
*/

.flex {
    display: flex;
}

.flex.v-center {
    align-items: center;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-left {
    justify-content: left;
}

.flex.h-right {
    justify-content: right;
}

.flex.h-space-between {
    justify-content: space-between;
}

/*
-------------------
Interface
-------------------
*/

.main-interface {
    height: 200px;
}

/*
-------------------
Buttons
-------------------
*/

.btn-disabled {
    background: red;
    opacity: 0.5;
}

.btn-equipped {
    background: green
}